__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
.venv/
venv/
build/
*.log
.DS_Store
tools/mp/micropython
tools/mp/micropython-src/
tools/mp/work/
pc/**/__pycache__/
pc/.venv/
pc/build/
pc/dist/
pc/*.spec.bak
